extends partial/page

mixin sidePanel
  .sidePanel
    a(href='https://www.reddit.com')
      div Reddit
    a(href='https://www.gmail.com')
      div Gmail
    div#uni University
    div#news News
    div#links Links

mixin mainPanel
  .mainPanel
    div.links
      - for (var x = 0; x < 4; x++)
        div.col-md-3
          ul


append meta
  title Home Page | Index

block body
  div.container
    +sidePanel
    +mainPanel
append scripts
  script(src="scripts/index.js")
