extends partial/page

mixin block(text)
  a(href="")
    div.linker
      =text

append meta
  title Home Page | Index

block body
  +block('reddit')
  +block('email')
  +block('news')

append scripts
  script(src="scripts/index.js")
