extends partial/page

mixin block(text, url)
  a(href=url)
    div.linker
      =text

append meta
  title Home Page | Index

block body
  div.container
    div.bounds
      +block('Reddit', 'http://www.reddit.com')
      +block('Email', 'https://mail.google.com')
      +block('News', 'http://www.bbc.co.uk/news')

append scripts
  script(src="scripts/index.js")
