body 
{
  background-color: #282828;
  color: #fabd2f;
  padding: 20px 20px 20px 20px
}

#header
{
  width: calc(100% - 40px);
  margin: 0px 20px 20px 20px;
  background-color: #504945;
  height:65px;
  display: flex;
  align-items: center;
  justify-content: center;
}

a:focus, a:hover, a 
{
  text-decoration: none;
  color: #fabd2f;
}

.sidePanel 
{
  background-color: #504945;
  width: 15%;
  height: 500px;
  border-radius: 1px;
  float: left;
}

.sidePanel div 
{
  padding: 10px 10px 10px 10px;
  margin: 5px 3px 5px 3px;
  background-color: #665c54;
  display: flex;
  align-items: center;
  justify-content: center;
  height: calc(20% - 6px);
  border-radius: 3px;
}

.sidePanel div:hover 
{ 
  background-color:#d79921;
}

.sidePanel div:focus
{ 
  background-color:#689d6a;
}

.mainPanel
{
  background-color: #504945;
  width: calc(85% - 10px);
  height: 500px;
  float: left;
  margin-left: 10px;
}

.links
{
  background-color: #665c54;
  margin: 5px 5px 5px 5px;
  padding: 5px 5px 5px 5px;
  width: calc(100% - 10px);
  height: 490px;
  display: none;
}
