body 
{
  background-color: #282828;
  color: #fabd2f;
  padding: 20px 20px 20px 20px
}

.linker 
{
  background-color: #fabd2f;
  color: #282828;
  width: 150px;
  height: 100px;
  margin: 50px 25px 20px 25px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #fbf1c7;
  border-radius: 3px; 
}
