//+++++++++++++++++++++++++++++++++|
//++++++++ Main Sass File +++++++++|
//+++++++++++++++++++++++++++++++++|

//++++ Colors
//+++++++++++++
$bg_colour: #282828
$brbg_colour: #3c3836
$dkbg_colour: #1d2021
$fg_colour: #ebdbb2
$brfg_colour: #fbf1c7
$dkfg_colour: #d5c4a1
$red_colour: #cc241d
$brred_colour: #fb4934
$green_colour: #98971a
$brgreen_colour: #b8bb26
$yellow_colour: #d79921
$bryellow_colour: #fabd2f
$blue_colour: #458588
$brblue_colour: #83a598
$purple_colour: #b16286
$brpurple_colour: #d3869b
$aqua_colour: #689d6a
$braqua_colour: #83c07c
$orange_colour: #d65d0e
$brorange_colour: #fe8019

//++++ Super Classes
//++++++++++++++++++++
#center
  display: flex
  align-items: center
  justify-content: center

//++++ Fonts
//++++++++++++
@font-face
  font-family: tron
  src: url('/fonts/tron.ttf') format('truetype')

//++++ Misc
//+++++++++++
html, body
  height: 100%
  width: 100%
  background-color: $bg_colour
  color: $fg_colour

.centre
  @extend #center
  margin: auto
  width: 100%
  height: 100%

.horizontal_line
  width: 100%
  border-top: 4px solid $dkbg_colour
  margin: 1px 0px 1px 0px

.time
  text-align: center
  
  h1
    margin: 0px
    font-style: italic
    
time
  font-size: 135px

.inline
  margin: 30px 0px 10px 0px

// Say no to the standard links
a
  color: $fg_colour

a:hover, a:focus
  text-decoration: none
  color: $dkfg_colour

//++++ links
//++++++++++++++++++++
.links
  width: 95px
  float: left
  margin: 0px 5px 0px 5px

  .title 
    border: 1px solid rgba(84,110,122,0.31372549019)
    font-size: 20px
    width: 100%
    height: 35px
    background-color: blue
    color: $brfg_colour
    @extend #center

  .list
    text-align: center
  
  a
    display: block
    margin: 5px 0px 5px 0px

.ucl
  .title
    background-color: $purple_colour

.waterloo
  .title
    background-color: $yellow_colour

.social
  .title
    background-color: $orange_colour

.code
  .title
    background-color: $aqua_colour

.google
  .title
    background-color: $blue_colour

.video
  .title
    background-color: $green_colour

.news
  .title
    background-color: $red_colour

//++++ Form 
//+++++++++++
.overlay
  width: 100%
  height: 100%
  display: none
  @extend #center

  input
    text-transform: uppercase
    border: none
    background: transparent
    border-bottom: 2px solid
    text-align: center
    font-size: 40px
    width: 700px
    font-family: tron

  input:focus
    outline: none
